Source: tracktiming
Maintainer: David Deaves <HSV_Timing@dd.id.au>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13)

Package: tracktiming
Architecture: any
Depends: lighttpd (>=1.4.50), php-cgi, php-cli, php-common, sqlite3, php-sqlite3, python3, python3-pigpio, python3-yaml, python3-numpy, python3-gpiozero, python3-apsw, php-yaml, libc6,  ${misc:Depends}, ${shlibs:Depends}
Description: Track Timing software
 Turn a Raspberry Pi into an all in one solution for timing track events
 where start, finish, splits are triggered by breaking a beam.
 One car on the track at a time.
 Like a Hill Climb
