#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@


execute_after_dh_fixperms:
	chown www-data:www-data $(DESTDIR)/data $(DESTDIR)/data/Track_Time
	chmod 2775 $(DESTDIR)/data
	chmod 2770 $(DESTDIR)/data/Track_Time
