#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@


execute_after_dh_fixperms:
	chgrp www-data debian/tracktiming/etc/timing
	chmod 1775     debian/tracktiming/etc/timing
	chown www-data:www-data debian/tracktiming/etc/lighttpd/auth
	chmod 500               debian/tracktiming/etc/lighttpd/auth
	chown www-data:www-data debian/tracktiming/etc/lighttpd/auth/timing.user
	chmod 400               debian/tracktiming/etc/lighttpd/auth/timing.user
	chown www-data:www-data debian/tracktiming/data debian/tracktiming/data/Track_Time
	chmod 2775 debian/tracktiming/data
	chmod 2770 debian/tracktiming/data/Track_Time
	mkdir -p debian/tracktiming/var/www/html/HSV_Timing/Results
	chown www-data:www-data debian/tracktiming/var/www/html/HSV_Timing/Results

